
/* Menu - on small screen hide menu to right of viewer */
.menu {
    position: absolute;
    right: -700px;
}

/* hamburger container */
.hamburger {
    cursor: pointer;
    margin-right: 100px;
    transition: all 0.5s ease 0s;
}

/* all hamburger lines */
.line-1, .line-2, .line-3 {
    width: 30px;
    height: 3px;
    background-color: var(--nav-font-color);
    margin: 5px 0;
    transition: all 0.5s ease 0s;
}

/* show menu on click */
.showMenu {
    /* set background color */
    background-color: var(--nav-bg-color);

    /* display as column */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    /* position under nav bar  */
    position: absolute;
    top: var(--nav-height-sm);
    right: 0px !important;
    width: 250px;
    border-radius: 3px;

    /* makes the menu the top layer div */
    z-index: 1;

    /* transition smoothly */
    transition: all 0.5s ease 0s;
}

.change .line-1 {
    transform: rotate(-405deg) translate(-8px, 4px);
}

.change .line-2 {
    opacity: 0;
} 

.change .line-3  {
    transform: rotate(405deg) translate(-7px, -4px);
}

/* under 460px reposition hamburger to center */
@media screen and (max-width: 460px) {
    .hamburger {
        margin: auto;
        padding-bottom: 10px;
        transition: all 0.5s ease 0s;
    }

    .showMenu {
        position: absolute;
        top: var(--nav-height-lg) !important;
        right: 0px !important;
        width: 100%;
    }
}

/* over 1060px show full menu and hide hamburger */
@media screen and (min-width: 1060px) {
    
    /* Menu bar */
    .menu {
        /* show menu */
        position: static;
        right: 75px;
        width: auto;

        /* position menu */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        transition: all 0.4s ease 0s;
    }
    
    /* hide hamburger */
    .hamburger {
        display: none;
        transition: all 0.7s ease 0s;
    }
}