
.landing {
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.landing-header {
    width: 100%;
    /* height: 45vh; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(./../img/landing-header-lg.png);
    background-size: cover;
}

.landing-header > h1 {
    /* border: 1px solid blue; */
    margin: 15px 15px 5px 15px;
}

.landing-header > h2 {
    /* border: 1px solid red; */
    margin: 15px 15px 35px 15px;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #CCC;
    width: 100%;
    box-sizing: border-box;
    padding: 0px 15px;
}

.landing-header {
    background-color: lightgray
}

.landing-how-it-works {
    background-color: #00D824;
}

.landing-log-working-hours {
    background-color: #fff;
}

.landing-request-pto {
    background-color: #00DB66;
}

.landing-information-dashboard {
    background-color: #fff;
}

.landing-information-protected {
    background-color: #00DBDB;
}


.section:nth-child(odd) {
    background-color: #fff;
}

/* Call to action button */
.landing-header > .call-to-action-button {
    height: 60px;
    width: 200px;

    font-family: var(--font-text-opensans);
    border-radius: 5px;
    border: none;
    box-shadow: none;
    background-color: #35d40d;  /*var(--button-add-color-hover);*/
    color: var(--button-color-dark);
    font-size: 1.3em;
    font-weight: 600 !important;
    letter-spacing: 2.5px !important;
    margin: 7vh 0;
}

.section-content {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.responsive-image {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.section-text {
    /* border: 1px dotted blue; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 2;
    padding: 15px; 
    transition: all 0.3s ease 0s;
}

/* Non-mobile */
@media screen and (min-width: 970px ) {
    .landing-header {
        width: 100%;
        height: 80vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-image: url(./../img/landing-header-lg.png);
        background-size: cover;
    }

    .section-text {
        transition: all 0.3s ease 0s;
    }
}

@media screen and (min-width: 860px) {
    
    .landing-header {
        width: 100%;
    }

    .section-content {
        display: flex;
        flex-direction: row;
    }

    .left-box, .right-box {
        /* border: 1px solid green; */
        width: 50%;
        margin: 50px 15px;
    }
}

@media screen and (min-width: 600px) {
    
    .landing-header > h1 {
        margin: 50px auto;
    }
    
    .landing-header > h2 {
        margin: 50px auto;
    }

    .section-text {
        font-size: 20px;
    }
}