
.nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: all 0.4s ease 0s;
}

.logo {
    /* border: 1px solid blue; */
    margin: 10px;
}

.menu {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.navlink {
    margin: 5px 25px;
}

/* Non-mobile */
@media screen and (min-width: 1060px) {
    .nav, .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        transition: all 0.4s ease 0s;
    }

    .nav {
        height: 100px;
    }

    .menu {
        margin-bottom: 0px;
    }

    .logo {
        margin-left: 50px;
    }
}