@import './hamburger.css';

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nav {
    position: fixed;
    left: 0px;
    top: 0px;
    height: var(--nav-height-sm);
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    transition: all 0.5s ease 0s;
}

.logo {
    margin: 10px;
}

.menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.navlink {
    margin: 5px 25px;
}

@media screen and (max-width: 460px) {
    .nav, .logo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        height: var(--nav-height-md);

        transition: all 0.4s ease 0s;
    }
}

/* Non-mobile */
@media screen and (min-width: 1060px) {
    .nav, .menu {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        transition: all 0.4s ease 0s;
    }

    /* .nav {
        height: 100px;
    } */

    .menu {
        margin-bottom: 0px;
    }

    .logo {
        margin-left: 50px;
    }
}