.pto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 10px 0px;

    min-width: 260px;
}

.pto-data {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item, .button-item {
    /* border: 1px solid grey; */
    margin: 5px 15px;
}

input[type=button] {
    width: 75px;
}

/* Non-mobile */
@media screen and (min-width: 540px) {
    .pto {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .pto-data {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .pto-buttons {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    .date {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;

        margin-left: 10px;
    }
}