.ptorequest-container {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.pto-container {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    width: 100%;
}

.ptoSummary {
    /* border: 1px solid red; */
    width: 100%;
}

/* Non-mobile */
@media screen and (min-width: 700px) {
    .pto-container {
        display: flex;
        flex-direction: row;
    }

    .left, .right {
        margin: 26px 25px;
    }
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px auto;
}

