.ptoSummary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border: 1px solid #ddd;
    border-radius: 3px;
    margin: 10px 0px;
}

.top {
    margin: 10px;
}

.bottom  {
    border-top: 1px solid #ddd;
    margin: 10px;
}

.num-days {
    margin: 0px 10px;
}

@media screen and (min-width: 540px) {

}
