.form-container {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signin-form {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 30px;
}
