.form-container {
    /* border: 1px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signin-form {
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 30px;
}

.loader {
    display: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-top: 5px dotted var(--button-bgcolor-normal);
    border-right: 5px dotted var(--button-bgcolor-normal);
    border-bottom: 5px dotted var(--button-bgcolor-normal);
    border-left: 5px dotted var(--button-bgcolor-normal);
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}